/* Thin */
@font-face {
  font-family: 'Nacelle';
  font-weight: 100;
  font-style: normal;
  src: url(/Nacelle/Nacelle-Thin.otf) format('opentype');
}

/* Thin Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 100;
  font-style: italic;
  src: url(/Nacelle/Nacelle-ThinItalic.otf) format('opentype');
}

/* Ultra Light */
@font-face {
  font-family: 'Nacelle';
  font-weight: 200;
  font-style: normal;
  src: url(/Nacelle/Nacelle-UltraLight.otf) format('opentype');
}

/* Ultra Light Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 200;
  font-style: italic;
  src: url(/Nacelle/Nacelle-UltraLightItalic.otf) format('opentype');
}

/* Light */
@font-face {
  font-family: 'Nacelle';
  font-weight: 300;
  font-style: normal;
  src: url(/Nacelle/Nacelle-Light.otf) format('opentype');
}

/* Light Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 300;
  font-style: italic;
  src: url(/Nacelle/Nacelle-LightItalic.otf) format('opentype');
}

/* Regular */
@font-face {
  font-family: 'Nacelle';
  font-weight: 400;
  font-style: normal;
  src: url(/Nacelle/Nacelle-Regular.otf) format('opentype');
}

/* Regular Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 400;
  font-style: italic;
  src: url(/Nacelle/Nacelle-Italic.otf) format('opentype');
}

/* Semi-Bold */
@font-face {
  font-family: 'Nacelle';
  font-weight: 600;
  font-style: normal;
  src: url(/Nacelle/Nacelle-SemiBold.otf) format('opentype');
}

/* Semi-Bold Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 600;
  font-style: italic;
  src: url(/Nacelle/Nacelle-SemiBoldItalic.otf) format('opentype');
}

/* Bold */
@font-face {
  font-family: 'Nacelle';
  font-weight: 700;
  font-style: normal;
  src: url(/Nacelle/Nacelle-Bold.otf) format('opentype');
}

/* Bold Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 700;
  font-style: italic;
  src: url(/Nacelle/Nacelle-BoldItalic.otf) format('opentype');
}

/* Heavy */
@font-face {
  font-family: 'Nacelle';
  font-weight: 800;
  font-style: normal;
  src: url(/Nacelle/Nacelle-Heavy.otf) format('opentype');
}

/* Heavy Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 800;
  font-style: italic;
  src: url(/Nacelle/Nacelle-HeavyItalic.otf) format('opentype');
}

/* Black */
@font-face {
  font-family: 'Nacelle';
  font-weight: 900;
  font-style: normal;
  src: url(/Nacelle/Nacelle-Black.otf) format('opentype');
}

/* Black Italic */
@font-face {
  font-family: 'Nacelle';
  font-weight: 900;
  font-style: italic;
  src: url(/Nacelle/Nacelle-BlackItalic.otf) format('opentype');
}


@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-style: normal;
  src: url(/RobotoCondensed/RobotoCondensed-Medium.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: block;
  src: url(/roboto_3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}